# файлы кэша
Debug/
Release/
Releases/
x64/
x86/
bin/
obj/
.vs/

# игнорирование doc файлов
*.docx
*.doc
*.dotx
*.dot

# игнорирование excel файлов
*.xlsx
*.xls
*.xltx
*.xlt

# ислючённый файл
Исключённый файл.txt